

#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 800px; /* Ajusta el valor a tus necesidades */
    height: 100vh; /* Ajusta el valor a tus necesidades */
    padding: 1rem;
  }
  
  textarea, #preview {
    width: 100%;
    min-height: 200px; /* Ajusta el valor a tus necesidades */
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    box-sizing: border-box;
  }
  
  @media screen and (min-width: 768px) {
    textarea, #preview {
      min-height: 300px; /* Ajusta el valor a tus necesidades */
    }
  }