.box {
  box-shadow: 1px 1px 10px 2px #4a3a5f;
  overflow-x: auto;
}

.bgColor {
  background-color: rgb(224, 215, 250);
}

#wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 900px;
  height: 100vh;
}

textarea {
  width: 100%;
  max-height: 200px;
}

#preview {
  font-size: 1rem;
}

#editorWrap,
#previewWrap {
  width: 100%;
  max-height: 300px;
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6f4aa3;
  font-size: 1.5rem;
  color: rgb(249, 248, 248);
}

@media screen and (min-width: 768px) {
  textarea.min-height,
  #previewer.min-height {
    min-height: 250px;
  }
}

